body{
    background-color: lightgrey;
}
header{
    display: grid;
    grid-template-columns: 1fr auto 0.5fr;
    background-color: wheat;
    align-items:center;
    padding: 10px 20px;
}
header img{
    height: 50px;

}
.navbar {
   padding-right: 400px;

}
.navbar a{
    text-decoration: none;
    color: black;
    padding-right: 10px;
}
.search_items{
    display: flex;
    align-items: center;
    gap: 10px;
}
.search_items input{
    height: 25px;
    border-radius: 30px;
    border: 1px solid white;
    
}
.search_items button{
    width: 130px;
    height: 25px;
    background-color: black;
    color: white;
}
.box_section{
    display: grid;
}
.box{
    display: grid;
    background-color: white;
    border-radius: 30px;
    grid-template-columns: 1fr auto;
    margin: 10px 20px;
    height: 300px;

  
}
.box img{
    width: 500px;
    height: 270px;
    padding: 10px 20px;
    border-radius: 40px;
   
}
.box .content{
    padding: 30px 3px;
    margin: 5px;
}
.box .tag{
    border: none;
    background-color: grey;
    color: purple;
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 30px;
}
.profile{
    display:flex;
    align-items: center;
}
.profile img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    
}
.side_boxs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2px;

   
}
.side_box1{
    background-color: white;
    border-radius: 30px;
    display: flex;
    margin: 10px 20px;
  
    
}
.side_box1 img{
    width: 300px;
    height: 200px;
    border-radius: 30px;
    padding: 10px;
}
.side_box1 .content{
    padding: 30px 5px;
}
.side_box1 .profile{
     display:flex;
    align-items: center;

}
.side_box1 .profile img{
    width: 30px;
    height: 30px;
    border-radius: 50%;

}
.side_box1 .tag{
    border: none;
    background-color: grey;
    color: blue;
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 30px;

}
.side_box2{
    background-color: white;
    border-radius: 30px;
    display: flex;
    margin: 10px 20px;
    
}
.side_box2 img{
    width: 300px;
    height: 200px;
    border-radius: 30px;
    padding: 10px;
}
.side_box2 .content{
    padding: 30px 5px;
}
.side_box2 .profile{
     display:flex;
    align-items: center;

}
.side_box2 .profile img{
    width: 30px;
    height: 30px;
    border-radius: 50%;

}
.side_box2 .tag{
    border: none;
    background-color: grey;
    color: green;
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 30px;

}
.category_section {
  text-align: center;
  padding: 40px 20px;
}
.category-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.category-buttons button{
   padding: 8px 16px;
   border: none;
   border-radius: 20px;
   background-color: #f1f1f1;
   cursor: pointer;
   font-size: 14px;
}
.card-grid{
    display: grid;
}
.cards {
  display: flex;
  gap: 10px;
  flex-wrap: wrap; 
  padding: 20px ;
  border-radius: 30px;
  justify-content:space-between;
 
}

.card {
  border-radius: 20px;
  padding: 20px;
  width: 350px;
  flex: 0 0 auto; 
 
}
.card img {
  width: 350px;
  height: 250px;
  border-radius: 20px;
  
}
.card-profile {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  flex-wrap: wrap;
}

.card-profile img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.tech {
  margin-left: auto;
  background-color: white;
  color: blue;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 30px;
  border: 1px solid #ccc;
}
.life{
  margin-left: auto;
  background-color: white;
  color:purple;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 30px;
  border: 1px solid #ccc;
}
.travel {
  margin-left: auto;
  background-color: white;
  color: green;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 30px;
  border: 1px solid #ccc;
}
.browse-btn {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.browse-btn button {
  padding: 10px 20px;
  border-radius: 25px;
  border: 1px solid white;
  background-color: white;
  font-size: 14px;
}
.authors{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    padding: 10px 80px;
}
.author-card img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-left: 10px;
    
}
.author-card{
    background-color: lightpink;
    display: flex;
    align-items: center;
    gap: 5px;
    width: 300px;
    height: 100px;
    border-radius: 30px;
    padding: 10px ;

   
}
.author-cards{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 40px;

   
}
.newsletter-section {
  padding:40px 20px;

}

.news-content{
       max-width: 400px; 
}
.newsletter-container {
  margin: auto;
  background-color:lightcyan;
  border-radius: 20px;
  padding: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 30px;
}
.newsletter-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
   

}
.newsletter-form input{
  padding: 10px 15px;
  width: 300px;
  border-radius: 8px;
  border: 1px solid black;
  font-size: 14px;
}
.newsletter-form button {
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  
}
.site-footer{
   align-items: center;
 
}
.footer-container{
    margin: auto;
    display: grid;
    grid-template-columns: 1fr auto 0.5fr;
    gap: 40px;
    padding: 20px ;
    align-items: center;


}
.footer-container p{
    margin-left: 60px;
}
.footer-links {
  margin-top: 5px;
  padding-right: 200px;
}
.footer-links a {
  margin-top: 10px ;
  color: black;
  text-decoration: none;
}
.footer-links a:hover {
  text-decoration: underline;
}
.footer-socials {
  margin-top: 10px;
}
.footer-socials i {
  margin: 10px 5px;

}
   

